<div class="preview" 
  [ngClass] = "{'preview--open': showWindow != false,
         'preview--image-loaded': showWindow != false}">
  <button (click)="closeWindow()" class="action action--close">
    <span class="text-hidden">Close</span>
  </button>

	<form [ngFormModel]="importForm" #f="ngForm" (ngSubmit)="addWords()">
    <p class="button--view">
      <button type="submit" class="button">Add Words</button>
      <button type="button" (click)="closeWindow()" class="button">Cancel</button>
    </p>

    <div class="description description--preview">
		<input type="file" id="inputfile" ngControl="inputfile">
				
			<section *ngIf="words.length > 0">
			<h2>Deck Words</h2>
			<table>
				<thead>
					<tr>
						<th>Front</th>
						<th>Back</th>
				</thead>
				<tbody>
					<tr *ngFor="#word of words">
						<td>{{word.Front}}</td>
						<td>{{word.Back}}</td>
					</tr>
				</tbody>
			</table>
			</section>
		</div>
	</form>
</div>