ErrorPage {
	/* Background image */
	background-color: #98beae;
	background-image: url("/img/404.gif");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: block;
	height: 100%;
	font-family: 'Gadugi', sans-serif;
	font-size: 14px;
	position: relative;
	width: 100%;
}



ErrorPage h1 {
	text-align: center;
	font-size: 50px;
	color: #ffffff;
	margin: 0 0 20px;
	
}
