*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

/***** Invisible scrollbar *****/
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
	font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #212121;
	background: #e5e5e5;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100vw;
}

a {
	text-decoration: none;
}

button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/***** Header *****/

.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: #ddd;
  z-index: 1;
}

.menu-icon {
	
}

.header-logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;
}

/***** Navigation Bar *****/
.navbar {
	margin: 0;
	padding: 0;
	width: 100%;
}

.navbar ul {
	list-style-type: none;
	overflow: hidden;
	background: #ddd;
	position: fixed;
	width: 100%;
}
.navbar ul li {
	float: left;
	width: 25%;
}
.xxx {
	float: right;
}
.navbar ul li a {
	display: block;
	padding: 1em;
	color: #777777;
    text-align: center;
    text-decoration: none;
}

.navbar a.current-demo {
	color: #555555;
}

.navbar a:hover,
.navbar a:focus {
	color: #555555;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}

.menu-button {
	float: right;
	border: none;
	background: none;
}

.menu-button img {
	width: 50px;
}

/***** Header *****/
.info {
	padding: 2em;
	text-align: left;
}

.info h1 {
	font-size: 2.5em;
	line-height: 1;
	font-weight: normal;
}

.info h1 span {
	display: block;
	padding: 1em;
	color: #999;
	font-weight: normal;
	font-size: 0.38em;
	letter-spacing: 0;
}


/* Content */

.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}

/* Demo ad style */

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 2em 5%;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.15em;
	}
}
