word-list {
	#deleteBtn {
		background-color: #ff3333;
		color: #ededed;
		border-color: #ff3333;
		width: 32%;
	}
	
	#importBtn {
		background-color: #898989;
		color: #fff;
		width: 6em;
		margin-top: 1em;
	}
	
	.card {
		background-color: #f2f2f2;
		color: #898989;
		height: 9em;
		padding: 0.5em;
		padding-top: 1.5em;
		position: relative;
		text-align: center;
		margin-bottom: 2em;
	}
	
	.card-overlay {
		background: #1f1d1d;
		padding: 0;
    
    button {
		  margin: 3em 0;
    }
	}
	
	#addCard {
		cursor: pointer;
	  padding-top: 2.5em;
	}
	
	hr {
		background-color: #000;
		border-color: inherit;
	}
}