<div id="fullpage">
  <a href="/">
    <img class="close" src="/img/cross.png">
  </a>
  
  <div class="section" id="section1" *ngIf="showReview">
	  <div class="slide">
			<div id="front" *ngIf="showFront">
				<h1>{{currentWord.front}}</h1>
				<div class="buttons">
          <button type="button" id="skipButton"
              (click)="skipWord()">Skip</button>
					<button type="button" id="answerButton"
							(click)="showFront = false">Show</button>
				</div>
			</div>

			<div id="back" *ngIf="!showFront">
				<h1>{{currentWord.back}}</h1>
				<div class="buttons">
					<button type="button" id="wrongButton"
							(click)="decreaseScore()">Wrong</button>
					<button type="button" id="rightButton"
							(click)="increaseScore()">Right</button>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="section2" *ngIf="showResults">
		<h1>Your Results</h1>
		<p>Total Words: {{results.total}}</p>
		<p>Right: {{results.right}}</p>
		<p>Wrong: {{results.wrong}}</p>
		<p>Skipped: {{results.skipped}}</p>
	</div>
</div>