@import "/client/lib/css/variables";

.btn-card-action(@btn-color) {
  background-color: transparent;
  border: 2px solid @btn-color;
  color: @btn-color;
  width: 10em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  
  &:hover {
    background-color: @btn-color;
    color: #ffffff;
  }
}

review-words {
  .wrap {
  	margin-left: auto;
  	margin-right: auto;
  	width: 960px;
  	position: relative;
  }
  
  h2 {
  	font-size: 2em;
  	margin: 2em auto;
  }
  
  p {
  	font-size: 1.5em;
  }
  
  .intro p {
  	width: 50%;
  	margin: 0 auto;
  }
  
  .section {
  	clear: both;
  	text-align:center;
  }
  
  div.fp-controlArrow {
    &.fp-prev,
    &.fp-next {
    	display: none;
    }
  }
  
  .card-display {
  	background-color: @bg-light;
  	width: 40%;
  	height: 20em;
  	margin: auto;
  	padding: 2em;
  }
  
  #skipButton {
  	.btn-card-action(@color-neutral);
  }
  
  #answerButton {
    .btn-card-action(@color-neutral);
  }
  
  #wrongButton {
    .btn-card-action(@color-negative);
  }
  
  #rightButton {
    .btn-card-action(@color-positive);
  }
  
  #fullpage {
    background-color: @bg-dark;
    height: 100%;
  }
}