@import "/client/lib/css/variables";

review-words {
  .wrap {
  	margin-left: auto;
  	margin-right: auto;
  	width: 960px;
  	position: relative;
  }
  
  h2 {
  	font-size: 2em;
  	margin: 2em auto;
  }
  
  p {
  	font-size: 1.5em;
  }
  
  .intro p {
  	width: 50%;
  	margin: 0 auto;
  }
  
  .section {
  	clear: both;
  	text-align:center;
  }
  
  div.fp-controlArrow {
    &.fp-prev,
    &.fp-next {
    	display: none;
    }
  }
  
  .card-display {
  	background-color: @bg-light;
  	width: 40%;
  	height: 20em;
  	margin: auto;
  	padding: 2em;
  }
  
  #skipButton {
  	color: @btn-neutral;
  	width: 10em;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  
  	font-size: 16px;
  
  	background: rgba(0,0,0,0);
  	border: solid 2px @btn-neutral;
  }
  
  #skipButton:hover {
  	background-color: @btn-neutral;
  	color: #ffffff;
  }
  
  #answerButton {
  	color: @btn-neutral;
  	width: 10em;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  
  	background: rgba(0,0,0,0);
  	border: solid 2px @btn-neutral;
    
    &:hover {
    	background-color: @btn-neutral;
    	color: #ffffff;
    }
  }
  
  #wrongButton {
  	color: @btn-negative;
  	width: 10em;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  
  	background: rgba(0,0,0,0);
  	border: solid 2px @btn-negative;
    
    &:hover {
    	background-color: @btn-negative;
    	color: #ffffff;
    }
  }
  
  #rightButton {
  	color: @btn-positive;
  	width: 10em;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  
  	background: rgba(0,0,0,0);
  	border: solid 2px @btn-positive;
    
    &:hover {
    	background-color: @btn-positive;
    	color: #ffffff;
    }
  }
  
  #fullpage {
    background-color: @bg-dark;
    height: 100%;
  }
}