deck-list {
	background: #e5e5e5;
	color: #212121;
	display: block;
	font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
}

deck-list a {
	color: #777777;
	text-decoration: none;
}

deck-list a:hover,
deck-list a:focus {
	color: #555555;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}

deck-list button:focus {
	outline: none;
}

deck-list .hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Header */

deck-list .menu-button {
	position: fixed;
	right: 2em;
}

deck-list .codrops-header {
	padding: 2em;
	text-align: center;
}

deck-list .codrops-header h1 {
	font-size: 2.5em;
	line-height: 1;
	font-weight: normal;
}

deck-list .codrops-header h1 span {
	display: block;
	padding: 1em;
	color: #999;
	font-weight: normal;
	font-size: 0.38em;
	letter-spacing: 0;
}

/* Demo links */

deck-list .codrops-demos {
	margin: 2em 0 0;
}

deck-list .codrops-demos a {
	display: inline-block;
	margin: 0 0.5em;
}

deck-list .codrops-demos a.current-demo {
	color: #555555;
}


/* Content */

deck-list .content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}

/* Demo ad style */

@media screen and (max-width: 50em) {
	deck-list .codrops-header {
		padding: 2em 5%;
	}
}

@media screen and (max-width: 40em) {
	deck-list .codrops-header h1 {
		font-size: 2.15em;
	}
}
