deck-settings {
  .container {
  	margin-left: auto;
  	margin-right: auto;
  }
  
  .btn-round {
    border-radius: 17px;
  }
  .btn-round-sm {
    border-radius: 15px;
  }
  .btn-round-xs {
  	border-radius: 11px;
  	padding-left: 10px;
  	padding-right: 10px;
  }
  .btn-round-lg{
    border-radius: 22.5px;
  }
  
  .form-control {
  	border-radius: 17px;
  	background-color: transparent;
  }
  
  #saveBtn {
  	background-color: #2487d1;
  	color: #ededed;
  	border-color: #2487d1;
  	width: 32%;
  }
  
  #cancelBtn {
  	background-color: #898989;
  	color: #ededed;
  	border-color: #898989;
  	width: 32%;
  }
  
  #deleteBtn {
  	background-color: #ff3333;
  	color: #ededed;
  	border-color: #ff3333;
  	width: 32%;
  }
  
  h1 {
  	margin-top: 1em;
  	margin-bottom: 2em;
  }
}