@import "/client/lib/css/variables";

add-deck-form {
  background: @bg-dark;
  color: #fff;
  display: block;
  min-height: 100%;
  overflow: hidden;

  .container-fluid {
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    padding-top: 2em;
    margin-bottom: 2em;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
  }
  
  h3 {
    font-family: 'Roboto Slab', sans-serif;
  }
  
  .btn-round{
    border-radius: 17px;
  }
  
  .form-control{
    border-radius: 3px;
    background-color: transparent;
  }
  
  .form-control:focus{
    border-color: #4bd6c1;
  }

  
  #saveBtn {
    .btn-action(@color-action);
    width: 32%;
  }
  
  #cancelBtn {
    .btn-action(@color-neutral);
    width: 32%;
  }
  
  #deleteBtn {
    .btn-action(@color-negative);
    width: 32%;
  }

  .cross {
    width: 3.5em;
    margin-top: 1em;
  }
}