<h1>Upload Anki APKG file</h1>
<form [ngFormModel]="importForm" #f="ngForm" (ngSubmit)="createDeck(f.value)">
	<input type="file" id="inputfile" ngControl="inputfile">
	
	<label>Name</label>
	<input type="text" ngControl="deckName" />
	<label>Description</label>
	<input type="text" ngControl="deckDescription" />
	
	<section *ngIf="words.length > 0">
	<h2>Deck Words</h2>
	<table>
		<thead>
			<tr>
				<th>Front</th>
				<th>Back</th>
		</thead>
		<tbody>
			<tr *ngFor="#word of words">
				<td>{{word.Front}}</td>
				<td>{{word.Back}}</td>
			</tr>
		</tbody>
	</table>
	</section>
	
	<button type="submit">Create Deck</button>
</form>